table tr td{
text-align: center;
}

#login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 280px;
    height: 280px;
}

#leftbar {
    width: 160px;
    height: 100px;
    float:left;
}
#mainarea{
    margin-left: 300px;
}
body{
    padding-top: 50px;
}

#tri {
    float: right;
    margin-top: 7px;
}